header > .nav-custom-div {
  background-color: rgb(141, 113, 183);
  /* background-color: #435585; */
  /* background-color: rgb(0, 40, 65); */
}

.container > button {
  /* background-color: white; */
}

.navbar-brand {
  color: white;
  font-weight: 600;
  display: flex;
}

.navbar-brand img {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  border-radius: 100%;
  transition: 0.5s all ease-in-out;
}

.navbar-brand > img:hover {
  filter: invert(0.2);
}

.navbar-collapse > a {
  color: white;
  text-decoration: none;
  margin: 0.8rem 0.9rem;
  font-weight: 700;
}

.header-main p {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.header-main > div {
  max-width: 1100px;
  margin: 0 auto;
}

.header-main {
  background-color: rgb(63, 47, 89);
  margin: 0 !important;
  padding: 1rem;
}

.first-nav > a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-nav > a:first-child {
  width: 15vw;
  height: 7rem;
  max-width: 7rem;
}

.first-nav > a:last-child {
  width: 30vw;
  height: 7rem;
  max-width: 12rem;
}

.first-nav > a:last-child > img {
  transition: 1s all ease-in-out;
  width: 94%;
}

.first-nav > a:first-child > img {
  transition: 1s all ease-in-out;
  width: 94%;
  object-fit: cover;
  border-radius: 100%;
}

.first-nav > a > img:hover {
  width: 100%;
}

.header-main {
  margin: 0 3rem;
}

.first-nav > img {
  width: 30vw;
  max-width: 16rem;
}
